.logo {
    width: 16px;
    height: 16px;
    display: inline;
    float: left;
    margin: 16px 5px 10px 0px;
}

.footer {
    color: #FFFFFF;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.h3 {
    font-size: 2em;
    margin: 0em 0em 0.6em 0em;
    font-weight: bold;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}




